@import "modules/mixins"
@import "modules/vars"
@import './modules/palette'

.text-primary
	color: $primary-color

html,body
	height: 100%
	width: 100%
	font-family: "Roboto",Arial,sans-serif

.home-page
	height: 100%
	width: 100%

.introduction
	background: #212229
	height: 100%
	color: white
	display: flex
	position: relative
	.intro-content
		margin: auto
		z-index: 10
		padding: 20px
		h1
			font-size: 8vh
		h2
			font-size: 5vh

	img
		position: absolute
		top: 0
		left: 0


.menu
	background: green
	color: white
	height: 100%
	ul
		margin: 0;
		li
			height: 25%
			display: flex
			position: relative
			.content
				margin: auto
				width: 100%

				img
					position: absolute
					top: 0
					left: 0

.mask
	width: 100%
	height: 100%
	position: absolute
	top: 0
	left: 0
	background: coral
	opacity: 0.1
