@import "modules/mixins"
@import "modules/vars"
@import './modules/palette'
@import "./modules/helpers"
@import "./modules/animations"
@import "./modules/preloader"
@import "./modules/tooltip"
*
	box-sizing: border-box

html,body
	height: 100%
	width: 100%
	font-family: "Roboto",Arial,sans-serif
	overflow: hidden

.home-page
	height: 100%
	width: 100%
	z-index: 2000
	position: relative
	overflow-x: hidden
	overflow-y: auto
	.col.s12.m6
		padding: 0
		height: 100%

.introduction
	background: #212229
	height: 100%
	color: white
	display: flex
	position: relative
	.intro-content
		margin: auto
		z-index: 10
		padding: 20px
		h1
			font-size: 8vh
			text-align: center
		h2
			font-size: 5vh
			text-align: center

	img
		position: absolute
		top: 0
		left: 0

.menu
	background: black
	color: white
	height: 100%
	position: relative
	ul
		margin: 0
		height: 100%
		li
			height: 25%
			display: flex
			position: relative
			cursor: pointer

			.content
				margin: auto
				width: 100%

				.col.s2
					span
						font-size: 25px
						border-radius: 50%
						background: rgba(255, 255, 255, 0.2)
						height: 60px
						width: 60px
						text-align: center
						line-height: 60px
						vertical-align: center
				.col.s10
					h2
						font-size: 5vh
						margin: 0
					h3
						font-size: 3vh
						margin: 0
			&:hover
				.content
					.col.s2
						span
							animation-name: shadow-flash
							animation-duration: 0.3s
							animation-timing-function: ease-out



			img
				position: absolute
				top: 0
				left: 0

// .mask
// 	width: 100%
// 	height: 100%
// 	position: absolute
// 	top: 0
// 	left: 0
// 	background: coral
// 	opacity: 0.1

.social-media
	list-style: none
	li
		display: inline-block
		padding: 10px
		margin: 5px
		font-size: 5vh

		a
			color: white

			&:hover
				color: $primary-color

.close-btn
	font-size: 2.5em
	background: black
	padding: 5px
	margin-top: 20px
	color: white
	position: fixed
	top: 25px
	right: 20px
	cursor: pointer
	z-index: 1000
	border: 1px solid black
	&:hover
		color: $primary-color
		background: white
		border: 1px solid $primary-color
		transition: all 0.5s



// profile section

.profile-page
	height: 100%
	position: absolute
	top: 0
	overflow-y: scroll

.image-container
	height: 500px
	position: relative
	top: 0
	@include larger-than-desktop
		height: 100%
		position: fixed
		top: 0

	display: flex
	background: gray
	color: white

	.main-heading
		padding: 20px
		width: 100%
		height: inherit
		margin-bottom: 30px
		position: relative
		h2
			width: 95%
			margin: 0
			font-size: 8vh
			font-weight: bold
			position: absolute
			bottom: 20%

			&::after
				background-color: $primary-color
				position: absolute
				content: ""
				top: 100%
				left: 0
				width: 50%
				height: 6px

.content-container

.services
	margin-bottom: 5px

	.fa
		font-size: 25px
		border-radius: 50%
		background: #FFFFFF
		height: 60px
		width: 60px
		text-align: center
		line-height: 60px
		vertical-align: center
		color: $primary-color-dark


//resume page
.resume-page
	height: 100%
	position: absolute
	top: 0
	overflow-y: scroll

.education-container
	position: relative
	@include larger-than-tablet
		&::before
			background: $primary-color
			content: ""
			height: 95%
			position: absolute
			width: 2px
			left: 25px
			top: 15px



	.item
		display: flex
		margin-bottom: 30px

		.bullet
			display: inline-block
			height: 30px
			width: 30px
			background: $primary-color
			border-radius: 50%
			border: 5px solid white
			z-index: 100
		.education-content
			flex: 9
			display: inline-block
			margin-left: 15px
			padding-left: 10px

			h4
				margin: 0
				position: relative
				background-color: $primary-color
				padding: 10px
				font-size: 18px
				font-weight: 500
				color: white
				@include larger-than-tablet
					&::before
						border-width: 10px
						border-style: solid
						border-color: transparent $primary-color transparent transparent
						content: ""
						border-image: none
						position: absolute
						top: 5px
						right: 100%

.experience-container
	position: relative
	@include larger-than-tablet
		&::before
			background: white
			content: ""
			height: 95%
			position: absolute
			width: 2px
			right: 14px
			top: 5px

	.item
		display: flex
		margin-bottom: 30px
		flex-direction: row-reverse

		.bullet
			display: inline-block
			height: 30px
			width: 30px
			background: white
			border-radius: 50%
			border: 5px solid $primary-color
			z-index: 100
		.experience-content
			flex: 9
			display: inline-block
			margin-right: 15px
			padding-right: 10px

			h4
				margin: 0
				position: relative
				background-color: white
				padding: 10px
				font-size: 18px
				font-weight: 500
				color: $primary-color
				@include larger-than-tablet
					&::before
						border-width: 10px
						border-style: solid
						border-color: transparent transparent transparent white
						content: ""
						border-image: none
						position: absolute
						top: 5px
						left: 100%

//portfolio
.portfolio-page
	position: absolute
	top: 0
	left: 0
	height: 100%
	width: 100%
	overflow-y: scroll

//contact
.contact-page
	position: absolute
	top: 0
	left: 0
	height: 100%
	width: 100%
	overflow-y: scroll

.contact-section
	.col.s12
		color: $primary-text-color
		&:hover
			color: $primary-color
			transition: color 0.5s ease-in-out
			a
				color: $primary-color
				transition: color 0.5s ease-in-out
		.fa
			font-size: 3vh
		a
			font-size: 2vh
			color: $primary-text-color

@media(max-width: 600px)
	.home-page
		.col.s12.m6:first-child
			height: 40vh
			h1
				font-size: 2rem
				margin: 25px 0 10px 0
			h2,aka
				display: none
			.social-media
				margin: 0
				padding: 0
				li
					margin-top: 0
					margin-bottom: 0
		.col.s12.m6:last-child
			height: 60vh
			.content
				.row
					margin-bottom: 0
	.menu
		background: black
		color: white
		height: 100%
		position: relative
		ul
			margin: 0
			height: 100%
			li
				height: 25%
				display: flex
				position: relative
				cursor: pointer

				.content
					margin: auto
					width: 100%
					.col.s2
						background: rgba(255, 255, 255, 0.2)
						border-radius: 100%
						span
							font-size: 25px
							border-radius: 50%
							text-align: center
							width: 100%
							line-height: 60px
							vertical-align: center
