<!DOCTYPE html>
<html>
<head>
	<!--Import Google Icon Font-->
	<!-- Global Site Tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-97682894-1 "></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-97682894-1 ');
	</script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title><%=title%></title>
</head>

<body>
	<!--Import jQuery before materialize.js-->
	
	<div class="home-page">
		
		<div class="introduction">
			<div class="container">
				<img src="" alt="">
				<div class="mask"></div>
				<div class="intro-content">
					<h1>
						Hello <br>
						I'M <span class="text-primary">SHIVAM KAUSHIK</span> <br>
						A.K.A <i>mythrex</i> <br>
					</h1>
					<h2>
						<u>Full Stack Developer</u>
					</h2>
					<ul class="social-media">
						<li><a href="">facebook</a></li>
						<li><a href="">tritter</a></li>
						<li><a href="">github</a></li>
					</ul>
				</div>
			</div>
		</div><!-- introduction end -->

		<div class="menu">
			<ul class="menu">
				<li>
					<img src="" alt="">
					<div class="mask"></div>
					<div class="content">
						<div class="col s2">Icon</div>
						<div class="col s10">Text</div>
					</div>
				</li>
				<li>
					<div class="col s2">Icon</div>
					<div class="col s10">Text</div>
				</li>
				<li>
					<div class="col s2">Icon</div>
					<div class="col s10">Text</div>
				</li>
				<li>
					<div class="col s2">Icon</div>
					<div class="col s10">Text</div>
				</li>
				<li>
					<div class="col s2">Icon</div>
					<div class="col s10">Text</div>
				</li>
			</ul>
		</div>

	</div>

	<div class="close-btn">
		<i class="material-icons">close</i>
	</div>

	<div class="profile-page">
		
	</div>

	<div class="resume-page">
		
	</div>

	<div class="portfolio-page">
		
	</div>

	<div class="contact-page">
		
	</div>
  	
	
</body>
</html>