<!DOCTYPE html>
<html>
<head>
	<!--Import Google Icon Font-->
	<!-- Global Site Tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-97682894-1 "></script>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<title><%=title%></title>
</head>

<body>
	<!--Import jQuery before materialize.js-->
	
	<div class="home-page" style="display: none">
		
		<div class="row" style="height: 100%;">
			
			<div class="col l6 s12" style="padding: 0; height: 100%;">
				<div class="introduction">
					<img src="" alt="">
					<div class="mask"></div>
					<div class="intro-content">
						<h1>
							Hello <br>
							I'M <span class="text-primary">SHIVAM KAUSHIK</span> <br>
							a.k.a <i>mythrex</i> <br>
						</h1>
						<h2>
							<u>Full Stack Developer</u>
						</h2>
						<ul class="social-media">
							<li><a class="fa fa-facebook" href=""></a></li>
							<li><a class="fa fa-github" href=""></a></li>
						</ul>
					</div>
				</div><!-- introduction end -->
			</div>

			<div class="col l6 s12" style="padding: 0; height: 100%;">
				<div class="menu">
					<ul>
						<li>
							<img src="" alt="">
							<div class="mask"></div>
							<div class="content">
								<div class="container">
									<div class="row">
										<div class="col s2 hide-on-small-only">
											<span class="fa fa-user"></span>
										</div>
										<div class="col s10">
											<h2>Pr<span class="text-primary">o</span>file</h2>
											<h3>
											Something about me.
											</h3>
										</div>
									</div>
								</div>
							</div>
						</li>

						<li>
							<img src="" alt="">
							<div class="mask"></div>
							<div class="content">
								<div class="container">
									<div class="row">
										<div class="col s2 hide-on-small-only">
											<span class="fa fa-user"></span>
										</div>
										<div class="col s10">
											<h2>Pr<span class="text-primary">o</span>file</h2>
											<h3>
											Something about me.
											</h3>
										</div>
									</div>
								</div>
							</div>
						</li>

						<li>
							<img src="" alt="">
							<div class="mask"></div>
							<div class="content">
								<div class="container">
									<div class="row">
										<div class="col s2 hide-on-small-only">
											<span class="fa fa-user"></span>
										</div>
										<div class="col s10">
											<h2>Pr<span class="text-primary">o</span>file</h2>
											<h3>
											Something about me.
											</h3>
										</div>
									</div>
								</div>
							</div>
						</li>

						<li>
							<img src="" alt="">
							<div class="mask"></div>
							<div class="content">
								<div class="container">
									<div class="row">
										<div class="col s2 hide-on-small-only">
											<span class="fa fa-user"></span>
										</div>
										<div class="col s10">
											<h2>Pr<span class="text-primary">o</span>file</h2>
											<h3>
											Something about me.
											</h3>
										</div>
									</div>
								</div>
							</div>
						</li>

					</ul>
				</div><!-- menu ends -->
			</div>

		</div>
	</div>

	<div class="close-btn">
		<i class="fa fa-close"></i>
	</div>

	<div class="profile-page" style="display: none;">
		<div class="row" style="height: 100%; width: 100%; margin: 0;">

			<div class="image-container col l5 s12">
				<div class="mask"></div>
				<div class="main-heading">
					<h2>Pr<span class="text-primary">o</span>file</h2>
				</div>
			</div>
			<div class="col offset-l5 l7 s12 content-container" style="padding: 0;">
				<div class="container">
					<div class="row">
						<div class="section">
							<h3 class="center">
								STORY OF GLORY
							</h3>
							<div class="col m4 s12">
								<img id="profile-photo" class="responsive-img" src="" alt="Profile">
							</div>
							<div class="col m8 s12">
								<h4 class="text-primary">AN AWESOME DESIGNER ON PLANET</h4>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae doloremque soluta sed. Magnam mollitia incidunt repellendus pariatur ratione est optio nobis dolores quidem repellat, modi saepe ex, dolorem, libero fuga!
								</p>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae doloremque soluta sed. Magnam mollitia incidunt repellendus pariatur ratione est optio nobis dolores quidem repellat, modi saepe ex, dolorem, libero fuga!
								</p>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae doloremque soluta sed. Magnam mollitia incidunt repellendus pariatur ratione est optio nobis dolores quidem repellat, modi saepe ex, dolorem, libero fuga!
								</p>
								<a href="" class="waves-effect waves-light btn">Download Resume</a>
							</div>
						</div>
					</div>
				</div>
				<div class="row background-primary">
					<div class="section">
						<h3 class="center">What I do.</h3>
						<div class="row">
							<div class="row">
								<div class="services col l4 m6 s12 center">
									<i class="fa fa-user"></i>
									<h3>Graphic Design</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos repellat quasi, illum commodi doloribus quisquam neque explicabo, soluta provident cupiditate veritatis libero nobis excepturi animi velit incidunt natus in impedit.</p>
								</div>
								<div class="services col l4 m6 s12 center">
									<i class="fa fa-user"></i>
									<h3>Graphic Design</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo eos, cum asperiores ex voluptatum perferendis vero amet. Architecto debitis sapiente doloribus asperiores in, nostrum eveniet, accusantium vel necessitatibus dolorem aliquid.</p>
								</div>
								<div class="services col l4 m6 s12 center">
									<i class="fa fa-user"></i>
									<h3>Graphic Design</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo beatae ipsum magnam similique, incidunt voluptatum ratione laudantium quam, suscipit consectetur deleniti dolorem, facilis voluptates modi omnis in quisquam inventore velit.</p>
								</div>
							</div>
							<div class="row">
								<div class="services col l4 m6 s12 center">
									<i class="fa fa-user"></i>
									<h3>Graphic Design</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At optio commodi atque quam ab non perferendis rem sit impedit repellat quibusdam voluptas, dolore tempora corporis, excepturi quaerat harum, a, qui!</p>
								</div>
								<div class="services col l4 m6 s12 center">
									<i class="fa fa-user"></i>
									<h3>Graphic Design</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam sapiente repellendus iure impedit esse explicabo nulla quasi. Amet neque sed accusamus illum vero, assumenda aut distinctio harum velit delectus reprehenderit.</p>
								</div>
								<div class="services col l4 m6 s12 center">
									<i class="fa fa-user"></i>
									<h3>Graphic Design</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolorem cumque quae, aperiam vel quibusdam quas nemo illum debitis harum similique vero inventore, enim consequatur aspernatur. Numquam, placeat! Sint, quidem!</p>
								</div>
							</div>
						</div>
					</div>
				</div>
									
			</div>
		</div>
	</div>

	<div class="resume-page" style="display: none">
		<div class="row" style="width: 100%;height: 100%">
			<div class="image-container col l5 s12">
				<div class="mask"></div>
				<div class="main-heading">
					<h2>Re<span class="text-primary">s</span>ume</h2>
				</div>
			</div>
			<div class="content-container col offset-l5 l7 s12" style="padding: 0;">
				<section class="section">
					<div class="row">
						<h3 class="center">EDUCATION</h3>
						<div class="education-container col s10 offset-s1">
							<div class="item">
								<div class="bullet hide-on-small-only"></div>
								<div class="education-content">
									<h4>Some haeding</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos et adipisci veritatis odio possimus est, quas quod perspiciatis eius. Rerum tempore quibusdam minima, veniam quod tenetur. Dolores, voluptatum, quia. Doloribus.</p>
								</div>
							</div>
							<div class="item">
								<div class="bullet hide-on-small-only"></div>
								<div class="education-content">
									<h4>Some haeding</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos et adipisci veritatis odio possimus est, quas quod perspiciatis eius. Rerum tempore quibusdam minima, veniam quod tenetur. Dolores, voluptatum, quia. Doloribus.</p>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="section background-primary">
					<div class="row">
						<h3 class="center">
							Experience
						</h3>
						<div class="experience-container container">
							<div class="item">
								<div class="bullet hide-on-small-only"></div>
								<div class="experience-content">
									<h4>Some haeding</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos et adipisci veritatis odio possimus est, quas quod perspiciatis eius. Rerum tempore quibusdam minima, veniam quod tenetur. Dolores, voluptatum, quia. Doloribus.</p>
								</div>
							</div>
							<div class="item">
								<div class="bullet hide-on-small-only"></div>
								<div class="experience-content">
									<h4>Some haeding</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos et adipisci veritatis odio possimus est, quas quod perspiciatis eius. Rerum tempore quibusdam minima, veniam quod tenetur. Dolores, voluptatum, quia. Doloribus.</p>
								</div>
							</div>
						</div>
					</div>
				</section>

			</div>
		</div>
	</div>

	<div class="portfolio-page">
		<div class="row" style="width: 100%;height: 100%">
			<div class="image-container col l5 s12">
				<div class="mask"></div>
				<div class="main-heading">
					<h2>Port<span class="text-primary">f</span>lio</h2>
				</div>
			</div>
			<div class="content-container col offset-l5 l7 s12" style="padding: 0;">
			</div>
		</div>
	</div>

	<div class="contact-page">
		<div class="image-container col m5 s12"></div>
		<div class="content-container col m7 s12"></div>
	</div>
  	
	
</body>
</html>